.logo-wrapper {
  @include flex(space-between, column, center);
  transform: scale(.8);

}

.logo {
  font-size: 2.7em;
  cursor: pointer;
  font-family: $main-font;
  color: $mid-font;
  background: none;
  border: none;
  @include transitionColor;

  &:hover {
    color: lighten($mid-font, 20%)
  }
}

.admin-wrapper {
  @include flex(space-between, row, center);
  height: 2.5em;
  color: $mid-font;

  p {
    white-space: nowrap;
    font-size: 1.1em;
  }
}

.admin-button {
  padding: 0;
  font-family: $main-font;
  text-align: center;
  @include flex(center, row, center);
  height: 2.5em;
  width: 2.5em;
  margin: 0 .9em 0 0;
  background-color: darken($light-background, 5%);
  color: darken($mid-font, 50%);
  font-size: 1em;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  @include transitionColor;

  &:hover {
    background: lighten($light-background, 5%);
  }
}