.card-name {
  font-size: 1.1em;
}

.card-date {
  font-size: .9em;
  margin-top: .5em
}

.card-info-wrapper {
  @include flex(space-between, column, flex-start);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 1em;
}

.card-info-wrapper>* {
  box-sizing: border-box;
}

.card-url {
  overflow-wrap: break-word;
  font-size: .9em;
  width: 100%;
  padding: 1em;
  border-radius: 2px;
  background-color: $light-background;
  color: $dark-font;
}

.attachment-counter {
  font-size: 2em;
  font-weight: 300;
  margin-top: .2em
}

.playlist-wrapper {
  width: 100%;
}

.playlist-wrapper>p {
  font-size: 1.1em;
  margin-top: .4em
}