.view-counter-wrapper {
  color: #EBEBEB
}

.views {
  font-size: .7em;
  font-weight: 300;
  text-align: center;
}

.view-count {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  margin-top: .1em;
}