.login {
  width: 15em;
  height: 10em;
  border-radius: 3px;
  align-self: center;
  background: $light-background;
  @include flex(space-between, column, center);
  * {
    margin: 1em 0;
    flex-grow: 1;
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
  }
}