@media screen and (max-width: 810px) {
  nav>ul {
    flex-direction: column;
    align-items: flex-start;
    height: 5em;
    padding-top: 0;
    margin: 0 0 4em 0;
  }

  li>img {
    width: 1em;
    margin: .1em .5em;
  }
  
  .logo {
    font-size: 2em;
  }
}