.plan-trip {
  @include form;

  * {
   @include formElements;
  }

  label {
    margin: 0;
    font-size: .8em;
    color: $dark-font;
    border: none;
    display: flex;
    align-items: flex-end;
  }

  button {
    @include dashButton;
    border: none;
  }
}

.trip-preview {
  @include flex(center, column, center);
}

.trip-cost {
  margin-top: 1em;
  text-align: center;
  color: $dark-font;
}

.bad-button {
  background: $bad-button!important;
  
  &:hover {
    background: darken($bad-button, 10%)!important;
  }
}