.plan-trip {
  @include form;

  * {
    height: 2em;
    font-family: $main-font;
    font-weight: 300;
    margin: .5em 0;
    flex-grow: 1;
    width: 100%;
    border: 1px solid $dark-background;
    border-radius: 3px;
  }

  label {
    margin: 0;
    font-size: .8em;
    color: $dark-font;
    border: none;
    display: flex;
    align-items: flex-end;
  }

  button {
    @include dashButton
  }

  p {
    border: none
  }
}

.trip-preview {
  @include flex(center, column, center);
}

.trip-cost {
  margin-top: 1em;
  text-align: center;
  color: $dark-font;
}

.bad-button {
  background: $bad-button!important;
  
  &:hover {
    background: darken($bad-button, 10%)!important;
  }
}