@import 'reset';
@import 'variables';
@import 'mixins';
@import 'svg-filters';
@import 'login';
@import 'plan-trip';
@import 'user-profile';
@import 'nav-bar';
@import 'cards';
@import 'api-messages';
@import 'dashboard';

/* Global styling */
body {
  background-color: darken($light-background, 5%);
  font-family: $main-font;

  * {
    box-sizing: border-box;
  }
}

button {
  font-family: $main-font;
  border: none;
  cursor: pointer;
  @include transitionColor;
}

h1 {
  color: $dark-font;
  font-size: 2.7em;
  margin: .9em 0
}

.caps {
  text-transform: uppercase;
}

.smaller-font {
  font-size: .8em
}

.hidden {
  display: none !important;
}

@import 'media-query';